# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py

# Database files
db.sqlite3

# Log files
*.log

# Static files
/static/

# Media files
/media/

# Environment variables
.env

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

# Python virtual environment
env/
